%h1 Twitter Home Timeline to RSS Parser
%p
    Log in with your twitter and we will parse your home timeline into a rss feed, so you can use it in your favorite RSS Reader.

    %a(href="/auth/twitter")
        OAUTH Log In
